<form [formGroup]="frmSpecialMeals" (ngSubmit)="AddUpdate(frmSpecialMeals.value)">

    <mat-dialog-content class="mat-typography">

        <h4> {{specialMealsData?'Update':'Add'}} Meals </h4>
        <div class="row">
            <div class="col-12">
                <mat-form-field>
                    <mat-label>meal_type</mat-label>
                    <input matInput type="text" formControlName="meal_type">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field>
                    <mat-label>description</mat-label>
                    <input matInput type="text" formControlName="description">
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field>
                    <mat-label>price</mat-label>
                    <input matInput type="text" formControlName="price">
                </mat-form-field>
            </div>

            <mat-checkbox>Active</mat-checkbox>
            <!-- <button mat-raised-button type="submit">Add</button> -->

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">


        <button mat-button (click)="closeDialog({type:'close'})">Close</button>
        <button mat-button cdkFocusInitial type="submit">{{specialMealsData?'Update':'Add'}}</button>

    </mat-dialog-actions>
</form>